# Dependências
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Nativo
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Variáveis de ambiente
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Pastas nativas geradas
/ios
/android

# Credenciais do banco de dados
api/conexao.php
